body {
    background-color: #345286;
    margin-top:30px;
}
#container {
    width:900px;
    height:900px;
    margin:auto;
    border:1px solid #000;
    background-color: #ddd;
}

.cell {
    float:left;
    border: 1px solid #333;
}

button {
    width:100px;
    height:30px;
    display:block;
    text-align: center;
    margin-left:200px;
    margin-bottom:3px;
}

#buttons {
    position:absolute;
    margin-right:10px;

}